<h1>Should I take an umbrella?</h1>
<p>User location<br>
  <%= @location%></p>
<p>Latitude<br>
  <%= @lat %></p>
<p>Longitude<br>
  <%= @long %></p>
<p>Current temperature<br>
  <%= @current_temp %></p>
<p>Current summary<br>
  <%= @current_sum %></p>
<p>Umbrella?<br>
  <%= @outcome %></p>
